<div class="card">
  <img class="card-img-top" src="<%= photo.url %>" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= photo.username %></h4>
    <p class="card-text">Number of likes: <%= photo.likes_count %></p>
  </div>
</div>